*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}
body{
    font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-size: cover;
            background-position: center;
            transition: background-image 0.5s ease-in-out;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;    
}
.clock {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    color: #021c2a;
    font-weight: bold;
    display: inline-block;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    position: relative;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 16px;
}

.weather {
    text-align: center;
    position: relative; /* Added for positioning clock */
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
    
}

.toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #0b7707;
    background-color: #12ecf3;
    padding: 8px 16px;
    border: 1px solid #0853a3;
    border-radius: 4px;
}
  .toggle:focus {
    outline: none;
  }

  html {
    transition: all 0.5s ease-in;
  }
  
  html.dark {
    --primary-color: #fff;
    --secondary-color: #333;
  }
  
  html.dark {
    background-color: #111;
    color: var(--primary-color);
  }

  @media screen and (max-width: 600px) {
    .search {
        flex-direction: column;
        align-items: stretch;
    }

    .search input {
        margin-right: 0;
        margin-bottom: 10px;
    }
}